form(method='POST', action='/new')
    h1 Send a message

    input(
        type='text'
        name='name'
        value='name'
    )
    input(
        type='textarea'
        name='message'
        placeholder='message'
        ) 
    input(
        type='submit'
        value='Submit'
        )